@font-face {
    font-family: 'PressStart2P';
    src: url('../fonts/Press_Start_2P/PressStart2P-Regular.ttf') format('truetype');
    /* You may include other font formats (woff, woff2, etc.) for better cross-browser support */
}

#scoreboard {
    display: flex;
    justify-content: space-between;
}

.score-left {
    order: 1;
    margin-right: auto;
}

.score-right {
    order: 2; 
    margin-left: auto;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'PressStart2P', sans-serif;
}

textarea {
    font-family: sans-serif;
    font-size: 12px;
    resize: none;
}

* {
    box-sizing: border-box;
}

#startScreen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100; /* Ensure the start screen appears above the graphics */
    background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent background */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Add a shadow for depth */
}

#canvasContainer {
    position: relative;
    width: 10%;
    height: 10%;
    display: block;
}

.sidebar {
    width: 200px;
    /* Fill entire viewport height */
    height: 100vh;
    /* Dont move on scroll */
    position: fixed;
    top: 0;
    left: 0;
    background-color: #343a40; /* Change sidebar background color */
    color: white; /* Change text color */
}
.nav-item {
    padding-left: 15px;
    margin-top: 10px;
}

.nav-link {
    color: #fff;
    transition: background-color 0.3s, color 0.3s;
}

.nav-link:hover {
    color: #17a2b8;
    text-decoration: none;
}

.nav-link.active::before {
    content: "> ";
    color: rgba(29, 220, 108, 0.682);
    pointer-events: none;
}

.nav-link:active {
    background-color: rgba(23, 162, 184, 0.5);
    /* /* color: #fff; */
    color:rgba(40, 89, 195, 0.5);
    /* transition: color 0.3s; */
}

.nav-link:focus {
    outline: none; /* Remove the default focus outline */
}

.main-content {
    /* box-sizing: border-box; */
    height: 100vh;
    width: 100vw;
    padding-left: 200px;
    top: 0;
    right: 0;
    bottom: 0;
}

.chat-log {
    font-family: sans-serif;
    min-height: 12px;
    max-height: 256px;
    overflow-x: hidden;
    overflow-y: auto;
}

.chat-message {
    word-wrap: break-word;
    white-space: pre-wrap;
}
