@font-face {
    font-family: 'PressStart2P';
    src: url('../fonts/Press_Start_2P/PressStart2P-Regular.ttf') format('truetype');
    /* You may include other font formats (woff, woff2, etc.) for better cross-browser support */
}

body {
    font-family: 'PressStart2P', sans-serif;
}

.sidebar {
    /* Fill entire viewport height */
    height: 100vh;
    /* Dont move on scroll */
    position: fixed;
    top: 0;
    background-color: #343a40; /* Change sidebar background color */
    color: white; /* Change text color */
}

.main-content {
    padding-left: 25%;
}
