<h2>This is the tests Colour War</h2>

<div id="startScreen">
    <label>
        <input type="checkbox" id="styleCheckbox"> 3D Graphics
    </label>
    <button id="ColorwarPlayButton">Play</button>
</div>


<div id="scoreboard">
    <div id="scoreboard">
        <div class="score-left"><p id='player1' >P1 placeholder</p>score: 0</div>
        <div class="score-right"><p id='player2' >P2 placeholder</p>score: 0</div>
        {% comment %} <div class="score-left"><p id='player1' >{{p1_username}}</p>score: 0</div>
        <div class="score-right"><p id='player2' >{{p2_username}}</p>score: 0</div> {% endcomment %}
    </div>
</div>


<div id="canvasContainer"></div>

<div id="GameControls">
    <button type="Colour 1">
        <img src="" alt="buttonpng" border="0" />
    </button>
    <button type="Colour 2">
        <img src="" alt="buttonpng" border="0" />
    </button>
    <button type="Colour 3">
        <img src="" alt="buttonpng" border="0" />
    </button>
    <button type="Colour 4">
        <img src="" alt="buttonpng" border="0" />
    </button>
</div>

