<div id="startScreen">
    <label>
        <input type="checkbox" id="styleCheckbox"> 3D Graphics
    </label>
	<label>
        <input type="checkbox" id="readyCheckbox"> Ready?
    </label>
    <button id="playButton">Play</button>
</div>

<div id="gameOverScreen">
    <h1>Game Over</h1>
    <div id="winnerInfo"></div>
</div>

<div id="scoreboard">
    <div class="score-left"><p id='player1' >{{p1_username}}</p>score: 0</div>
    <div class="score-right"><p id='player2' >{{p2_username}}</p>score: 0</div>
</div>

<div id="canvasContainer"></div>