<h2>This is the tests</h2>

<div id="startScreen">
    <label>
        <input type="checkbox" id="styleCheckbox"> 3D Graphics
    </label>
    <button id="playButton">Play</button>
</div>




<div id="scoreboard">
    <div class="score-left">P1 SCORE: 0</div>
    <div class="score-right">P2 SCORE: 0</div>
</div>

<div id="canvasContainer"></div>

<button type="button" class="btn btn-primary" id="increaseButton">+Increase+</button>
<button type="button" class="btn btn-primary" id="decreaseButton">-Decrease-</button>
<button type="button" class="btn btn-primary" id="connectButton">?Connect?</button>
