<h2>This is the tests</h2>

  <script type="module" src="../js/main.js"></script>

  <!--  Try to make this button fetch something from Django !!! -->
  <button type="button" class="btn btn-primary" id="retrieveButton">!Retrieve!</button>
  <button type="button" class="btn btn-primary" id="increaseButton">+Increase+</button>
  <button type="button" class="btn btn-primary" id="decreaseButton">-Decrease-</button>
  <button type="button" class="btn btn-primary" id="connectButton">?Connect?</button>

  <!-- Button to print "Hello World" to console -->
  <button type="button" class="btn btn-primary" id="testButton">test button</button>