<h2>Play</h2>
<div>
    <p>┌───────────────────┐</p>
    <p>│                   │</p>
    <p>│                 | │</p>
    <p>│        o          │</p>
    <p>│ |                 │</p>
    <p>│                   │</p>
    <p>└───────────────────┘</p>
</div>
<!-- Try to make this button fetch something from Django !!! -->
<button type="button" class="btn btn-primary" id="retrieveButton">!Retrieve!</button>
<button type="button" class="btn btn-primary" id="increaseButton">+Increase+</button>
<button type="button" class="btn btn-primary" id="decreaseButton">-Decrease-</button>

