{% extends "user/form_base.html" %}
{% block form %}
{% if error %}
<p style="color: red">Error: {{error}}</p>
{% endif %}
{% if success %}
<p style="color: green">Success: {{success}}</p>
{% endif %}
<form id="addFriendForm" >
	{% csrf_token %}
	{% for field in form %}
	<div class="form-group">
	<p style="color: red">{{ field.errors }}<p>
	{{ field.label_tag }} {{ field }}
	</div>
	{% endfor %}
	<input type="submit" value="Add friend">
</form>

</br>

<div>
<h2>Pending Invites</h2>
<ul>
	{% for invite in in_invites %}
		<li>
			{{ invite.from_user.username }} - 
			<button type="submit" id="friendRequestButton" data-from-user={{ invite.from_user.username }} data-action="accept" class="btn btn-primary">Accept</button> or
			<button type="submit" id="friendRequestButton" data-from-user={{ invite.from_user.username }} data-action="reject" class="btn btn-primary">Reject</button>
		</li>
	{% empty %}
		<li>No pending invites.</li>
	{% endfor %}
</ul>

<br>

<h2>List of friends</h2>
<ul>
	{% for invite in out_invites %}
		<li>{{ invite.to_user.username }} - Friend request pending...</li>
	{% endfor %}

	{% for friendship in friendships %}
		{% if current_user == friendship.to_user %}
			<li>{{ friendship.from_user.username }} - online status - del friend</li>
		{% else %}
			<li>{{ friendship.to_user.username }} - online status - del friend</li>
		{% endif %}
	{% empty %}
		<li>No friends.</li>
	{% endfor %}
</ul>

</div>
{% endblock %}


{% comment %} {% include {{real_html}} %} {% endcomment %}