<div>
	<div>
		{% include 'partials/navbar_empty.html' %}
	</div>
	<h2>{{title | title}}</h2>
	{% if message %}
	<p class="text-danger">{{message}}</p>
	{% endif %}

	{% if error %}
	<p class="text-danger">Error: {{error}}</p>
	{% endif %}

	{% if success %}
	<p style="text-success">Success: {{success}}</p>
	{% endif %}

	<form id="loginForm" >
		{% csrf_token %}
		{% for field in form %}
		<div class="form-group">
			<p style="text-danger">{{ field.errors }}<p>
			{{ field.label_tag }} {{ field }}
		</div>
		{% endfor %}
		<input type="submit" value="Login">
	</form>
	<div>
		<p>Don't have an account? Make one <nav><a href="/register">here</a></nav> </p>
	</div>
</div>
