<div>
	<div>
		{% include 'partials/navbar_empty.html' %}
	</div>
	<div class="container" style="margin-top: 50px;">

		<nav><button class="btn btn-primary"><a href="/login" class="nav-link">
			<span class="text-white pe-2">
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-skip-backward-fill" viewBox="0 0 16 16">
					<path d="M.5 3.5A.5.5 0 0 0 0 4v8a.5.5 0 0 0 1 0V8.753l6.267 3.636c.54.313 1.233-.066 1.233-.697v-2.94l6.267 3.636c.54.314 1.233-.065 1.233-.696V4.308c0-.63-.693-1.01-1.233-.696L8.5 7.248v-2.94c0-.63-.692-1.01-1.233-.696L1 7.248V4a.5.5 0 0 0-.5-.5"/>
				</svg>
			</span>
			Login
		</a></button></nav>

		<div class="row">
			<div class="col">
				<h2 class="d-flex justify-content-center mb-3 text-white">{{title | title}}</h2>
			</div>
		</div>
	
		{% if error %}
		<div class="row">
			<div class="col">
				<div class="alert alert-warning" role="alert">
					Error: {{error}}
				</div>
			</div>
		</div>
		{% endif %}
	
		{% if success %}
		<div class="row">
			<div class="col">
				<div class="alert alert-success" role="alert">
					Success: {{success}}
				</div>
			</div>
		</div>
		{% endif %}
		
		<form id="registerForm" enctype="multipart/form-data">
			<div class="mb-3 w-50 m-auto">
				{% csrf_token %}
				{% for field in form %}
				<div class="row">
					<div class="col">
						<div class="form-floating">
							{{ field }}
							{{ field.label_tag }}
							<p style="text-danger">{{ field.errors }}<p>
						</div>
					</div>
				</div>
				{% endfor %}
				<div class="row">
					<div class="col text-center mt-3">
						<button class="btn btn-primary" type="submit">Register</button>
					</div>
				</div>
			</div>
		</form>
<button id="autoRegister" class="btn btn-success">Create dummy users</button>
	</div>
</div>
