<div>
	<div>
		{% include 'partials/navbar_empty.html' %}
	</div>
	<div class="container">
		<h2 class="d-flex justify-content-center">{{title | title}}</h2>
	
		{% if error %}
		<div class="alert alert-warning" role="alert">
			Error: {{error}}
		</div>
		{% endif %}
	
		{% if success %}
		<div class="alert alert-success" role="alert">
			Success: {{success}}
		</div>
		{% endif %}
		
		<form id="registerForm" enctype="multipart/form-data">
			<div class="mb-3 w-75 m-auto">
				{% csrf_token %}
				{% for field in form %}
				<div class="form-floating">
					{{ field }}
					{{ field.label_tag }}
					<p style="text-danger">{{ field.errors }}<p>
				</div>
				{% endfor %}
				<button class="btn btn-primary" type="submit">Register</button>
			</div>
		</form>
	</div>
</div>
