<h3>Delete Account</h3>

<div class="alert alert-danger" role="alert">
	Submitting this form will cause the irreversiable action of deleting your account
</div>

{% if error %}
<div class="alert alert-warning" role="alert">Error: {{error}}</div>
{% endif %}
<form id="delete-account-form" enctype="multipart/form-data">
	{% csrf_token %}
	{% for field in form %}
	<div class="form-floating">
		{{ field }}
		{{ field.label_tag }}
		<p style="text-danger">{{ field.errors }}<p>
	</div>
	{% endfor %}
	<button class="btn btn-danger" type="submit">Delete Account</button>
</form>
