<div class="container">
	<h3>Friends!</h3>
	{% if friends.error %}
	<p style="color: red">Error: {{friends.error}}</p>
	{% endif %}
	{% if success %}
	<p style="color: green">Success: {{friends.success}}</p>
	{% endif %}

	{% if self_profile %}
	<form id="addFriendForm" >
		{% csrf_token %}
		{% for field in friends.form %}
		<div class="form-group">
		<p style="color: red">{{ field.errors }}<p>
		{{ field.label_tag }} {{ field }}
		</div>
		{% endfor %}
		<input type="submit" value="Add friend" id="addFriendButton">
		<input type="submit" value="Block user" id="blockUserButton">
	</form>
	
	</br>

	<div>
	<h4>Pending Invites</h4>
	<ul>
		{% for invite in friends.in_invites %}
			<li>
				{{ invite.from_user.username }} - 
				<button type="submit" id="friendRequestButton" data-from-user={{ invite.from_user.username }} data-action="accept" class="btn btn-primary">Accept</button> or
				<button type="submit" id="friendRequestButton" data-from-user={{ invite.from_user.username }} data-action="reject" class="btn btn-primary">Reject</button>
			</li>
		{% empty %}
			<li>No pending invites.</li>
		{% endfor %}
	</ul>

	<br>
	<h4>Blocked Users</h4>
	<ul>
		{% for blocked in friends.blocked_users %}
			<li>
				{{ blocked.username }} - 
				<button type="submit" id="friendRequestButton" data-from-user={{ blocked.username }} data-action="unblock" class="btn btn-outline-danger">Unblock</button>
			</li>
		{% empty %}
			<li>No blocked users.</li>
		{% endfor %}
	</ul>
	<br>
	{% endif %}

	<h4>List of friends</h4>
	{% if self_profile %}
	<ul>
		{% for invite in friends.out_invites %}
			<li>{{ invite.to_user.username }} - Friend request pending...</li>
		{% endfor %}

		{% for friendship in friends.friendships %}
			{% if friends.current_user == friendship.to_user %}
				<li>
					<a id="profileLinkTag" href="/profile/{{friendship.from_user.username}}" >{{ friendship.from_user.username }}</a> - 
					{% if friendship.from_user.is_online %}
						<span style="color:green;">Online</span>
					{% else %}
						<span style="color:grey;">Offline</span>
					{% endif %}
					<button type="submit" id="friendRequestButton" data-from-user={{ friendship.from_user.username }} data-action="delete" class="btn btn-primary">Delete</button>
				</li>
			{% else %}
				<li>
					<a id="profileLinkTag" href="/profile/{{friendship.to_user.username}}" >{{ friendship.to_user.username }}</a> - 
					{% if friendship.to_user.is_online %}
						<span style="color:green;">Online</span>
					{% else %}
						<span style="color:grey;">Offline</span>
					{% endif %} 
					<button type="submit" id="friendRequestButton" data-from-user={{ friendship.to_user.username }} data-action="delete" class="btn btn-primary">Delete</button>
				</li>
			{% endif %}
		{% empty %}
			<li>No friends.</li>
		{% endfor %}
	</ul>
	{% else %}
		{% for friendship in friends.friendships %}
			{% if friends.current_user == friendship.to_user %}
				<li>
					<a id="profileLinkTag" href="/profile/{{friendship.from_user.username}}" >{{ friendship.from_user.username }}</a> - 
					{% if friendship.from_user.is_online %}
						<span style="color:green;">Online</span>
					{% else %}
						<span style="color:grey;">Offline</span>
					{% endif %}
				</li>
			{% else %}
				<li>
					<a id="profileLinkTag" href="/profile/{{friendship.to_user.username}}" >{{ friendship.to_user.username }}</a> - 
					{% if friendship.to_user.is_online %}
						<span style="color:green;">Online</span>
					{% else %}
						<span style="color:grey;">Offline</span>
					{% endif %} 
				</li>
			{% endif %}
		{% empty %}
			<li>No friends.</li>
		{% endfor %}
	{% endif %}
	</div>
</div>
