<div>

	<h2>Manage Account</h2>
	{% if error %}
	<p class="color: red;"> {{error}} </p>
	{% endif %}

	<div id="profile-picture">
		{% if profile_picture %}
		<img src="{{ profile_picture.image.url }}" alt="profile picture for user {{ details.username }}"></img>
		{% endif %}
		{% if profile_picture_upload_message %}
		<p>{{ profile_picture_upload_message }}</p>
		{% else %}
		<form id='profile_picture_upload' enctype='multipart/form-data'>
		{{upload_image_form}}
		<button type="submit" id="profile_image_upload_btn" class="btn btn-primary">Upload</button>
		</form>
		{% endif %}
	</div>

	<p>Username: {{details.username}}</h3>

	<p>Name: {{details.first_name}} {{details.last_name}}</p>
	<button style="btn-primary" id="change-name">Change Name</button>
	{% if name_form_result %}
	<p>{{name_form_result}}</p>
	{% else %}
	<form id="name-change-form" enctype="multipart/form-data">
		{{name_form}}
		<button type="submit" id="nameChange" class="btn btn-primary">Submit</button>
	</form>
	{% endif %}
	<p>E-mail: {{details.email}}</p>
	{% if email_form_result %}
	<p>{{email_form_result}}</p>
	{% else %}
	<button style="btn-primary" id="change-email">Change E-mail</button>
	<form id="email-change-form">
		{{email_form}}
	<button type="submit" id="emailChange" class="btn btn-primary">Submit</button>
	</form>
	{% endif %}
	<button style="btn-primary" id="change-password">Change Password</button>
	{% if pasword_form_result %}
	<p>{{pasword_form_result}}</p>
	{% else %}
	<form id="password-change-form">
		{{password_form}}
		<button type="submit" id="passwordChange" class="btn btn-primary">Submit</button>
	</form>
	{% endif %}
	{% include "./delete_account.html" with form=delete_account_form%}

</div>