<div class="container">
	<div class="row g-3">
		<div class="col-12">
			<h3 class="text-center">Pong</h3>
			{% if stats.pong.games_played %}

				<p>Total games: {{ stats.pong.games_played }}</p>
				<p>Total wins: {{ stats.pong.wins }}</p>
				<p>Win rate: {{ stats.pong.win_percent }}%</p>
				<p>Best win margin: {{ stats.pong.largest_win_margin }}</p>
				<p>Worst loss margin: {{ stats.pong.largest_loss_margin }}</p>
				<p>Longest rally: {{ stats.pong.longest_rally }}</p>
				<p>Tournament Games Played: {{ stats.pong.tournament_games }}</p>
			{% else %}
				<p>No Pong statistics to report</p>
			{% endif %}
		</div>
		<div class="col-12">
			<h3 class="text-center">Color War</h3>
			{% if stats.color.games_played %}
				<p>Total games: {{ stats.color.games_played }}</p>
				<p>Total wins: {{ stats.color.wins }}</p>
				<p>Win rate: {{ stats.color.win_percent }}%</p>
				<p>Least moves to win: {{ stats.color.least_moves_to_win }}</p>
				<p>Average moves to win: {{ stats.color.average_move_to_win }}</p>
				<p>Tournament Games Played: {{ stats.color.tournament_games }}</p>
			{% else %}
				<p>No ColorWar statistics to report</p>
			{% endif %}
		</div>
	</div>
</div>