{% extends "user/form_base.html" %}
{% block form %}
<p>Submitting this form will cause the irreversiable action of deleting the account for user: {{username}}</p>
{% if error %}
<p style="color: red">Error: {{error}}</p>
{% endif %}
<form id="deleteAccountForm" >
	{% csrf_token %}
	{% for field in form %}
	<div class="form-group">
	<p style="color: red">{{ field.errors }}<p>
	{{ field.label_tag }} {{ field }}
	</div>
	{% endfor %}
	<input type="submit" value="Delete Account">
</form>
{% endblock %}
